@import url(http://fonts.googleapis.com/css?family=Aldrich);

body {
	font-family: 'Aldrich', sans-serif;
	font-weight: lighter;
	background-color: #272D40;
	color: #D0D3B8;
	/* 9DBF8E */
	/* https://kuler.adobe.com/Stories-color-theme-2678373/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20Stories&mode=rgb&rgbvalues=0.15294117647058825,0.17647058823529413,0.25098039215686274,0.21176470588235294,0.27450980392156865,0.34901960784313724,0.3333333333333333,0.45098039215686275,0.42745098039215684,0.615686274509804,0.7490196078431373,0.5568627450980392,0.8156862745098039,0.8509803921568627,0.5686274509803921 */
}

#wastes-container {
	float: right;
	border-radius: 8px;
	background-color: #364659;
	padding: 8px;
}

.resource-container {
	overflow: auto;
}

#wastes {
	padding: 5px;
	background-color: #12181E;
	border-radius: 8px;
	border: solid #55736D 8px;
}

.resource {
	float: left;
	width: 32px;
	height: 32px;
	margin: 1px;
	box-sizing: border-box;
	position: relative;

	background-image: url(img/resource-tiles.png);
	background-size: cover;
}

.resource:nth-child(8n+1) {
	clear: left;
}

.resource.none {
	background-color: black;
	background-image: none;
}

.resource.rock {
	background-color: #666;
	background-position-x: 0px;
}

.resource.iron {
	background-color: #33a;
	background-position-x: -32px;
}

.resource > .progress {
	width:0%;
	height: 10%;
	position: absolute;
	background-color: #9DBF8E;
	overflow: hidden;
}

.resource.none:hover > .progress {
	display: none;
}

.resource:hover > .progress {
	transition-timing-function: linear;
	width: 100%;
}

.resource > .collector {
	width:100%;
	height: 100%;
	position: absolute;
	visibility: hidden;

	background-color: white;
	opacity: 0.2;

	color:black;
	text-shadow: white 0px 0px 4px;
}

.resource.none:hover > .collector {
	display: none;
}

.resource:hover > .collector {
	visibility: visible;
	cursor: pointer;
}

.resource.rock:hover > .progress {
	transition-duration: 2s;
}

.resource.rock:hover > .collector {
	transition-delay: 2s;
}

.resource.iron:hover > .progress {
	transition-duration: 5s;
}

.resource.iron:hover > .collector {
	transition-delay: 5s;
}

